@model GradesByGradeCategoryViewModel

<div id="grades-result" class="case_study_area white_case_study">
    <div class="patrn_1 d-none d-lg-block">
        <img src="img/pattern/patrn_1.png" alt="">
    </div>
    <div class="patrn_2 d-none d-lg-block">
        <img src="img/pattern/patrn.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-b-3">
                <input asp-for="Search" placeholder="Buscar" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Buscar'" required="" class="single-input-primary">
            </div>
            <div class="col-md-2">
                <button id="btn-search" class="btn btn-primary" type="button">Buscar</button>
            </div>
        </div>
        <div id="results" class="row">

            @foreach (Grade grade in Model.Grades)
            {
                @if (Model.Grades.Count > 0)
                {
                    <a class="single-result" asp-controller="GradeOffers" asp-action="GradeOffersByGrade" asp-route-gradeId="@grade.Id">
                        <div class="col-lg-4 col-md-6">
                            <div class="single_study text-center white_single_study">
                                <div class="thumb">
                                    <img src="~/img/@grade.ImageUrl" />
                                </div>
                                <div class="subheading white_subheading">
                                    <h4>@grade.Name</h4>
                                    <p>@grade.Description</p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
        @if (Model.Grades.Count > 0)
        {

        <ul class="pagination blog_area a">
            @{ string previwPageClass = "";}

            @if (Model.CurrentPage == 1)
            {
                previwPageClass = "page-item active";
            }
            else
            {
                previwPageClass = "page-item";
            }

            <li class="@previwPageClass">
                @{ int previewPage = Model.CurrentPage - 1;}
                @{ int nextPage = Model.CurrentPage + 1;}
                @{ string nextPageClass = "";}


                <a class="page-link main-color" asp-controller="Grades" asp-action="GradesByGradeCategory" asp-route-gradeCategoryId="@Model.Grades.FirstOrDefault().GradeCategoryId" asp-route-search="@Model.Search" asp-route-page="@previewPage">
                    <i class="ti-angle-left"></i>
                </a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                string liClass = "";

                @if (Model.CurrentPage == i)
                {
                    liClass = "page-item active";
                }
                else
                {
                    liClass = "page-item";
                }

                if (Model.CurrentPage == Model.TotalPages)
                {
                    nextPageClass = "page-item active";
                }
                else
                {
                    nextPageClass = "page-item";
                }


                <li class="@liClass">
                    <a class="page-link main-color" asp-controller="Grades" asp-action="GradesByGradeCategory" asp-route-gradeCategoryId="@Model.Grades.FirstOrDefault().GradeCategoryId" asp-route-search="@Model.Search" asp-route-page="@i">
                        @i
                    </a>
                </li>
            }

            <li class="@nextPageClass">
                <a class="page-link" asp-controller="Grades" asp-action="GradesByGradeCategory" asp-route-gradeCategoryId="@Model.Grades.FirstOrDefault().GradeCategoryId" asp-route-search="@Model.Search" asp-route-page="@nextPage">
                    <i class="ti-angle-right"></i>
                </a>
            </li>
        </ul>
        
        }
    </div>

</div>

<script src="~/js/jquery-1.12.4.min.js"></script>
<script src="~/js/grades-by-grade-category.js"></script>