@model HomeViewModel

@{
    ViewBag.Title = "Inicio";
}
<div class="shap_big_2 d-none d-lg-block">
    <img src="~/img/body_shap_2.png" />
</div>
<!-- slider_area_start -->
<div  class="slider_area">
    <div class="shap_img_1 d-none d-lg-block">
        <img src="~/img/body_shap_1.png" />
    </div>
    <div class="poly_img">
        <img src="~/img/poly.png" />
    </div>
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-10 offset-xl-1">
                    <div class="slider_text text-center">
                        <div class="text">
                            <h3>
                                Busca y elige la universidad y carrera que mas se ajuste a tus metas y presupuesto
                            </h3>
                            <a class="boxed-btn3" href="#grade-categories">Iniciar</a>
                        </div>
                        <div class="ilstrator_thumb">
                            <img src="~/img/illustration.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- service_area  -->
<div id="service-area" class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="~/img/feature_2.svg" />
                    </div>
                    <h3>Busca</h3>
                    <p>
                        Busca la oferta de grado que te interese, seg&uacute;n tus metas.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="~/img/seo_1.svg" />
                    </div>
                    <h3>Compara</h3>
                    <p>Compara entre los distintos resultados siguiendo tus propios criterios.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="~/img/feature_6.svg" />
                    </div>
                    <h3>Da el pazo</h3>
                    <p>Contacta a la entidad educativa para que des el gran paso.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<!--/ service_area  -->
<!-- compapy_info  -->
<div id="about-us" class="compapy_info">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-md-5">
                <div class="man_thumb">
                    <img src="~/img/man.png" />
                </div>
            </div>
            <div class="col-xl-7 col-md-7">
                <div class="company_info">
                    <h3>
                        Acerca de<br>
                        Uni Comparer.
                    </h3>
                    <p>
                        Uni Comparer es un portal comparativo de ofertas acad&eacute;micas de educaci&oacute;n superior que busca hacer de elecci&oacute;n de carrera y universidad un proceso mas &aacute;gil.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ compapy_info  -->
<!-- case_study_area  -->
<div id="grade-categories" class="case_study_area case_bg_1">
    <div class="patrn_1 d-none d-lg-block">
        <img src="~/img/patrn_1.png" />
    </div>
    <div class="patrn_2 d-none d-lg-block">
        <img src="~/img/patrn.png" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-95 white_text">
                    <h3>Nuestras categor&iacute;as</h3>
                    <p>
                        ¿Qu&eacute; tipo de grado deseas cursar?
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="case_active owl-carousel">
                    @foreach (GradeCategory gradeCategory in Model.GradeCategories)
                    {
                        <a asp-controller="Grades" asp-action="GradesByGradeCategory" asp-route-gradeCategoryId="@gradeCategory.Id">
                            <div class="single_study text-center">
                                <div class="subheading">
                                    <h4 class="hover-pink">@gradeCategory.Name</h4>
                                    <p>@gradeCategory.Description</p>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ case_study_area  -->
<!-- accordion_area  -->
<div id="why-uni-comparer" class="accordion_area">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-xl-6 col-lg-6">
                <div class="faq_ask">
                    <h3>&iquest;Por qu&eacute; usar<br />
                    Uni Comparer?</h3>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Contamos con un amplio repositorio
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                                <div class="card-body">
                                    Tenemos mas de @Model.UniversitiesCount entidades acad&eacute;micas, mas @Model.GradesCount grados y mas de @Model.GradeOffersCount ofertas de grado.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Resultados imparciales
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                <div class="card-body">
                                    Mostramos los resultados seg&uacute;n el criterio de orden que t&uacute; mismo elijas.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Es gratis 
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion" style="">
                                <div class="card-body">
                                    Usar Uni Comparer es gratis para todos los usuarios.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="accordion_thumb">
                    <img src="~/img/accordion.png" />
                </div>
            </div>
        </div>
    </div>

</div>
<!--/ accordion_area  -->
